services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        - NEXT_PUBLIC_BASE_URL=${NEXT_PUBLIC_BASE_URL}
        - NEXT_PUBLIC_MEDIA_URL=${NEXT_PUBLIC_MEDIA_URL}
        - END_POINT=${END_POINT}
    ports:
      - "3000:3000"
    env_file:
      - .env.local
    restart: unless-stopped
    # Increase shared memory for Chromium
    shm_size: "256mb"
